

@font-face {
    font-family: caudex;
    src: url(../font/Caudex/Caudex-Regular.ttf);
    font-family: roboto;
    src:url(../font/Roboto/Roboto-Regular.ttf);
    font-family: henny;
    src:url(../font/Henny_Penny/HennyPenny-Regular.ttf);
}

body{
    font-family: roboto;
    background-color: #E9E9E9;
}

.veco {
    font-family: henny;
}

.caudex {
    font-family: caudex;
}

.field-icon {
    float: left;
    margin-left: 25px;
    margin-top: 10px;
    position: relative;
    z-index: 99;
}
.warna {
    background-color: #FDDE67;
}

.warna1 {
    background-color: #304B3B;
}

.warna2{
    background: #969696;
    width: 100px;
    height: 100px;

}
/*--------------------------*/
.qty-container{
    display: flex;
    align-items: center;
  }
  .qty-container .input-qty{
    text-align: center;
    width: 50%;

  }
  
  
  /*---------------------------*/
  @media (max-width: 992px) {
    
    .cari{
        width: 100%;
        margin-top: 2%;
    }
}