

@font-face {
    font-family: caudex;
    src: url(../font/Caudex/Caudex-Regular.ttf);
    font-family: roboto;
    src:url(../font/Roboto/Roboto-Regular.ttf);
    font-family: henny;
    src:url(../font/Henny_Penny/HennyPenny-Regular.ttf);
}

body{
    font-family: roboto;
    background-color: #E9E9E9;
}

.veco {
    font-family: henny;
}

.caudex {
    font-family: caudex;
}
/* 
.field-icon {
    float: left;
    margin-left: 25px;
    margin-top: 10px;
    position: relative;
    z-index: 99;
} */
.warna {
    background-color: #FDDE67;
}

.warna1 {
    background-color: #304B3B;
}

.warna2{
    background: #969696;

}

.text-warna {
    color: #304B3B;
}




@media (max-width: 767px) {
    .corouselflash .carousel-inner .carousel-item > div {
        display: none;
    }
    .corouselflash .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
    .carousel-item{
        justify-content: center;
    }
}



.corouselflash .carousel-inner .carousel-item.active,
.corouselflash .carousel-inner .carousel-item-next,
.corouselflash .carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .corouselflash .carousel-inner .carousel-item-end.active,
    .corouselflash .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .corouselflash .carousel-inner .carousel-item-start.active, 
    .corouselflash .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
    .carousel1 {
        display: flex;
        justify-content: center;
    }
}

.corouselflash .carousel-inner .carousel-item-end,
.corouselflash .carousel-inner .carousel-item-start { 
    transform: translateX(0);
}

.button-next {
    position: absolute;
    bottom: 5%;
    opacity: 100.5;
}

.button-pre {
    position: absolute;
    bottom: 5%;
    opacity: 100.5;
}
.carousel-control-prev1 {
    left: 80%;
}
.carousel-control-next1 {
    width: 10%;
}

.carousel-ind{
    margin-right: 20%;
    margin-bottom: 2%;
    margin-left: 0;
    right: 65%;
}

.carousel-indicators [data-bs-target] {
    width: 5px; 
    height: 5px; 
    border-radius: 100%; 
}


.pad {
    padding: 0 10%;
}


.circle {
    background: #C5C2CA;
}

.kiri{
    width: 25%;
}
.tengah{
    width: 50%;
}
.kanan{
    width: 25%;
}


@media (max-width: 1050px) {
    
    .tengah {
        width: 100%;
    }

    

    .gambar{
        display: none;
    }
}

.newsCard {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }
  
  figure img {
  display: block;
  width: 100%;
  }
  
  
  .newsCaption {
    position: absolute;
    top: bottom;
    bottom: 10px;
    width: 100%;
    left: 0;
    padding: 5px;
    transform: translateY(50%);
    background-color: rgba(0,0,0, 0.4);
}


@media (max-width: 992px) {
    .ruang {
        margin-top: 50px;
    }
    
    .cari{
        width: 100%;
        margin-top: 2%;
    }
}

@media (max-width: 576px) {
    .ruang3 {
        margin-top: 50px;
    }
    .ukuran {
        width: 50%;
        height: 50%;
    }

    .atas {
        text-align: center;
    }

    .bawah {
        justify-content: center;
    }


    
}

.kotak {
    width: 50px;
    height: 50px;
}
