@font-face {
    font-family: caudex;
    src: url(../font/Caudex/Caudex-Regular.ttf);
    font-family: roboto;
    src:url(../font/Roboto/Roboto-Regular.ttf);
    font-family: henny;
    src:url(../font/Henny_Penny/HennyPenny-Regular.ttf);
}

*, html, body{
    font-family: roboto;
}

.layar {
    height: 100vh;
}

.warna {
    background-color: #FDDE67;
}

.warna1 {
    background-color: #304B3B;
}

.kanan {
    background-image: url('../img/register.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.kanan h2{
    font-family: henny;
}


.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    padding-right: 30px;
    position: relative;
    z-index: 2;

}


@media screen and (max-width :575px)  {
    .kiri{
        width: 100%;
    }
    .kanan {
    width: 0%;
    display: none;
    }
    
}