@font-face {
  font-family: caudex;
  src: url(../font/Caudex/Caudex-Regular.ttf);
  font-family: roboto;
  src:url(../font/Roboto/Roboto-Regular.ttf);
  font-family: henny;
  src:url(../font/Henny_Penny/HennyPenny-Regular.ttf);
}

body{
    font-family: roboto;
    background-color: #E9E9E9;
}

.veco {
    font-family: henny;
}

.caudex {
    font-family: caudex;
}
/* 
.field-icon {
    float: left;
    margin-left: 25px;
    margin-top: 10px;
    position: relative;
    z-index: 99;
} */
.warna {
    background-color: #FDDE67;
}

.warna1 {
    background-color: #304B3B;
}

.warna2{
    background: #969696;
    width: 100px;
    height: 100px;

}

.text-warna {
    color: #304B3B;
}

.text-warna2 {
  color: #767676;
}

:root {
  --line-border-empty: #e3e3e3;
}

.container1 {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  z-index: -1;
}

.progress {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2px;
  width: 0%;
  z-index: -1;
  transition: .4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.order-tracking{
	text-align: center;
	width: 25%;
	position: relative;
	display: block;
}

.order-tracking .is-complete:after {
	display: block;
	position: absolute;
	content: '';
	height: 14px;
	width: 7px;
	top: -2px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border: 0px solid #AFAFAF;
	border-width: 0px 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
.order-tracking.completed .is-complete{
	border-color: #27aa80;
	border-width: 0px;
	background-color: #27aa80;
}
.order-tracking.completed .is-complete:after {
	border-color: #fff;
	border-width: 0px 3px 3px 0;
	width: 7px;
	left: 11px;
	opacity: 1;
}
.order-tracking p {
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 20px;
}
.order-tracking p span{font-size: 14px;}
.order-tracking.completed p{color: #000;}
.order-tracking::before {
	content: '';
	display: block;
	height: 3px;
	width: calc(100% - 60px);
	background: #304B3B;
	top: 13px;
	position: absolute;
	left: calc(-50% + 20px);
	z-index: 0;
    margin: 0 10px;
}
.order-tracking:first-child:before{display: none;}
.order-tracking.completed:before{background-color: #27aa80;}


@media (max-width: 992px) {

  
  .cari{
      width: 100%;
      margin-top: 2%;
  }
}
